<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.tdv"/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- DataSource -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/TDV_QuanLyVienPhi?useSSL=false&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/> <!-- Thay bằng username của bạn -->
        <property name="password" value="01232317428Aa"/> <!-- Thay bằng password của bạn -->
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- DAO -->
    <bean id="benhNhanDAO" class="com.tdv.dao.BenhNhanDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="chiTietDichVuDAO" class="com.tdv.dao.ChiTietDichVuDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="chiTietHoaDonDAO" class="com.tdv.dao.ChiTietHoaDonDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="dichVuDAO" class="com.tdv.dao.DichVuDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="hoaDonDAO" class="com.tdv.dao.HoaDonDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="hoSoKhamDAO" class="com.tdv.dao.HoSoKhamDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="thanhToanDAO" class="com.tdv.dao.ThanhToanDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

</beans>